certifi==2020.6.20
chardet==4.0.0
colorzero==1.1
distro==1.5.0
future==0.18.2
gpiozero==1.6.2
idna==2.10
imutils==0.5.4
iso8601==1.0.2
joblib==0.17.0
lxml==4.9.1
numpy==1.19.5
opencv-python==4.6.0.66
pandas==1.4.3
picamera==1.13
Pillow==9.2.0
pymavlink==2.4.34
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyserial==3.5
python-apt==2.2.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.25.1
RPi.GPIO==0.7.0
scikit-learn==0.24.0
SciPy==1.8.1
serial==0.0.97
six==1.16.0
spidev==3.5
ssh-import-id==5.10
threadpoolctl==3.1.0
uptime==3.0.1
urllib3==1.26.5